body {
    text-align: center;
    font-family: sans-serif;
}


.intro-game {
  width: 505px;
  margin: auto;
}

#reset {
  width: 130px;
  color: white;
  background-color: #000;
  border: 1px solid #000;
  height: auto;
  font-size: 1.5em;
  padding: 10px 20px;
  margin-top: 0px;
  display: block;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  white-space: nowrap;
  font-weight: bold;
  border-radius: 10px;
  margin: auto;
}

#reset:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
}
